/*----------------------Nav Bar Light and Dark---------------------*/
.navbar-dark {
    background-color: black !important;
    color: #ebe1d3 !important;
}

.navbar-light {
    background-color: #ebe1d3 !important;
    color: black !important;
}

.navbar-transparent {
    background-color: transparent !important;
    color: #ebe1d3 !important;
}

.navbar-dark .nav-link {
    color: #ebe1d3 !important;
    font-family: Bahnschrift, Futura, Arial !important;
    padding-bottom: 4px; 
    transition: color 0.3s ease-in-out; /* Smooth color transition */
    text-decoration: none; /* Start without underline */
    position: relative;
}

.navbar-light .nav-link {
    color: black !important;
    font-family: Bahnschrift, Futura, Arial !important;
    padding-bottom: 4px; 
    transition: color 0.3s ease-in-out; /* Smooth color transition */
    text-decoration: none; /* Start without underline */
    position: relative;
}

/* Underline on hover only on text with transition */
.navbar-dark .nav-link:hover, .navbar-dark .nav-link.active,
.navbar-light .nav-link:hover, .navbar-light .nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Adjust thickness as needed */
    text-decoration-color: currentColor; /* Use the current color for underline */
    text-underline-offset: 4px; /* Offset the underline slightly from the text */
    transition: text-decoration-color 0.3s ease-in-out, text-underline-offset 0.3s ease-in-out; /* Transition effect */
}


.navbar-brand {
    font-family: Afronaut, Blenny, Futura !important; 
    margin-right: 7%;
}


.active {
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Match thickness for consistency */
    text-underline-offset: 4px; /* Offset to keep consistent with hover */
}



/*----------------------Footer Light and Dark---------------------*/
.footer-light {
    background-color: #ebe1d3 !important;
    padding-bottom: 1.5vh;
}

.footer-dark {
    background-color: black !important;
    padding-bottom: 1.5vh;
}

.footer-transparent {
    background-color: transparent !important;
}

.footer-dark .col-auto a svg,
.footer-light .col-auto a svg,
.footer-transparent .col-auto a svg {
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out; 
}

.footer-dark .col-auto a:hover svg,
.footer-light .col-auto a:hover svg,
.footer-transparent .col-auto a:hover svg {
    transform: scale(1.4); 
    margin: 0 0.6em;  /* Added margin on hover to prevent overlap, adjust as needed */
}

.footer-dark .col-auto,
.footer-light .col-auto,
.footer-transparent .col-auto {
    display: inline-block; /* Ensure elements stay inline */
}



/*----------------------Body Light and Dark---------------------*/
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ebe1d3 !important; /* Initial background color */
    /* overflow: hidden; Prevents scrolling */
}

.bodyBlack{
    background-color: black !important;
    color: #ebe1d3;
    font-family: Bahnschrift, Futura, Arial !important;
}

.container{
    padding: 0%;
}





/*----------------------Buttons Light and Dark---------------------*/

.btn-outline-secondary{
    color: black;
    background-color: transparent;
    border-color: black;
    transition: all 0.3s ease-in-out;
}

.btn-outline-secondary:hover{
    color: black;
    background-color: transparent;
    border-color: black;
    transform: scale(1.2);
    margin-right: 1rem; /* adds right margin to avoid overlap */
    margin-left: 1rem;
}

/* what happens on click */
.btn-outline-secondary:active{
    color: #ebe1d3 !important;
    background-color: black !important;
    border-color: black !important;
}

.btn-primary{
    color: #ebe1d3;
    background-color: black;
    border-color: black;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover{
    color: #ebe1d3;
    background-color: black;
    border-color: black;
    transform: scale(1.2);
    margin-left: 1rem; /* adds left margin to avoid overlap */
    margin-right: 1rem;
}


.btn-primary:active{
    color: #ebe1d3 !important;
    background-color: grey !important;
    border-color: grey !important;
}

/*----------------------------Index stuff--------------------------------------------*/
#section1 {
    min-height: 100vh; 
    position: relative;
    margin-top: -56px; /* recentres the heading by decreasing height of navbar */
}

@font-face {
    font-family: felix;
    src: url(graphics/Felix\ Titling.ttf);
  }

.headingHome{
    font-family: felix, Afronaut, Blenny, Futura !important; 
    text-align: left !important;
    letter-spacing: 0.1rem !important;
    color: #ebe1d3 !important;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
}

.headingHomePortfolio{
    font-family: felix, Afronaut, Blenny, Futura !important; 
    text-align: left !important;
    letter-spacing: 0.39vw !important;
    color: #ebe1d3 !important;
    justify-content: center !important;
    text-align: center !important;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.centred-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: none; 
}

/* Custom cursor */
.custom-cursor {
    position: fixed;
    width: 6rem;
    height: 6rem;
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebe1d3;
    font-size: 1.1rem;
    font-family: Bahnschrift, Futura, Arial;
    pointer-events: none; /* Allows clicks to pass through the cursor */
    transform: translate(-50%, -50%); 
    z-index: 1000; 
    visibility: hidden; /* Initially hidden */
    transition: visibility 0s, opacity 0.2s ease-in-out;
    opacity: 0;
}

/* Show cursor inside centred-div */
.centred-div:hover .custom-cursor {
    visibility: visible;
    opacity: 1;
}

.centre-home{
    align-items: center;
    justify-content: center !important;
    padding-left: 5%;
    padding-right: 5%;
}

.body-bg-img{
    background-image: url(photos/profile.jpeg);
    background-size: cover;
    background-position: center;
    
}

.body-bg-img::after {
    content: "";
    background: rgba(0,0,0,0.75) !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
}

/* Add this CSS to create the video background */
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    overflow: hidden;
  }
  
  .video-bg video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
  }
  
  /* Hide the video until it's fully loaded */
  .video-bg video:not(.loaded) {
    display: none;
  }
  
  /* Add an overlay to maintain the appearance of the body background image while the video is loading */
  .video-bg::before {
    content: "";
    background-image: url(photos/profile.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
  }
  
  /* Overlay transparency, adjust as needed */
  .video-bg {
    opacity: 0.8;
  }
  
  /* Add the following class to make the video loop */
  .loop {
    animation: loopVideo 5s linear infinite;
  }
  
  


/*--------------------------360 and film stuff-----------------------------------------------*/
.headingFilm{
    font-family:Afronaut, Blenny, Futura !important; 
    text-align: center !important;
    font-size: 15vw;
    position: fixed;
    bottom: 0;
}

.bottom-left {
    left: 0;
    top: 50vh;
    transform: translate(30%, -60%) rotate(90deg);
    transform-origin: top left;
}


.bottom-right {
    right: 0;
    top: 50%;
    transform: translate(-45%, -55%) rotate(-90deg);
    transform-origin: top right;
    letter-spacing: 4vw;
}
  

.textUnderCards{
    position: absolute;
    z-index: 1;
}

.card{
    border: 0;
    background-color: transparent !important;
    z-index: 2;
    position: relative;
    padding: 5vh;
    
}

.card .card-body .card-text{
    text-align: justify;
}

.youtubechannel{
    text-align: center;
    font-size: 3vh;
}

.link-black{
    color: black;
}

.link-black:hover{
    color: black;
}

/*--------------------------photography stuff-----------------------------------------------*/
.headingPhotography{
    font-family: Afronaut, Blenny, Futura !important; 
    text-align: right !important;
    color: #ebe1d3;
    margin-right: 7%;
    bottom: 0;
}

.position-relative {
    position: relative;
}


.textover-wrapper {
    position: absolute;
    left: 15%;
    transform: translate(-8%, 150%); 
    z-index: 3;
  }
  
.textover {
    text-align: left;
    margin-bottom: 0;
    margin-top: 2%;
    font-family: felix, Afronaut, Blenny, Futura !important; 
    letter-spacing: 0.5vw;
    color: #ebe1d3;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.9);
  }


.container-photography {
    position: relative;
    z-index: 0;
}


.image{
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.3);
    width: 100%;
    height: auto;
}

.container-photography .card{
        position: relative;
        padding-bottom: 0% !important;
}


.gallery-text{
    font-family: Afronaut, Blenny, Futura !important; 
    font-size: 1.7vw;
    bottom: 0;
    margin-left: 3vw;
}




/*--------------------------GRAPHIC DESIGN SECTION-----------------------------------------------*/

.headingGraphic{
    font-family: Afronaut, Blenny, Futura !important; 
    text-align: center !important;
    /*justify-content: center; does nothing*/
    top: 50%;
    color:black !important;
}


.img-fluid {
    width: 100%;
    height: 40vh !important; 
    max-height: 300px;
    object-fit: cover;
}

.img-vh {
    width: 100%;
    height: 40vh !important; 
    max-height: 400px;
    object-fit: cover;
}

/* Hover effect on cards */
#digital-design-cards .card {
    transition: all 0.5s ease-in-out;
    transform-origin: center;
    background-color: #ebe1d3;
    position: relative;
    overflow: hidden; /* Ensure elements slide properly */
}

/* On hover, scale the card and change background */
#digital-design-cards .card:hover {
    transform: scale(1.05);
    background-color: black !important;
    color: #ebe1d3;
    z-index: 3;
}

/* Ensure card title and text color also change on hover */
#digital-design-cards .card:hover .card-title, 
#digital-design-cards .card:hover .card-text {
    color: #ebe1d3;
}

/* Initially hide the 'See More Work' button and prevent it from taking space */
#digital-design-cards .card .btn {
    display: none; /* Do not show or reserve space for the button */
    opacity: 0;
    transform: translateY(-20px); /* Start above the card */
    transition: transform 0.5s ease, opacity 0.5s ease;
}


#digital-design-cards .card:hover .btn {
    display: inline-block; /* Button appears without affecting layout */
    opacity: 1;
    transform: translateY(0); /* Slide to normal position */
}

#digital-design-cards .card:hover .btn {
    background-color: #ebe1d3;
    color: black;
    transform: scale(1.05);
}

#digital-design-cards .card img {
    transition: all 0.3s ease-in-out;
}




/*--------------------------WEB DESIGN SECTION-----------------------------------------------*/

@font-face {
    font-family: "Lucida Sans Typewriter";
    src: url(graphics/LTYPE.TTF);
  }

.headingWeb{
    font-family: "Lucida Sans Typewriter","ocr-a-std", monospace, Consolas !important; 
    text-align: left  !important;
    font-size: 3.6vw;
    color:#ebe1d3 !important;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.webdesignoutline{
    font-family: "Lucida Sans Typewriter","ocr-a-std", monospace, Consolas !important; 
    text-align: left  !important;
    font-size: 3.6vw;
    color:#ebe1d3 !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.headingWebQuirky{
    font-family: Afronaut, Blenny, Futura !important;
    text-align: right !important;
    font-size: 1.9vw;
    color:#ebe1d3 !important;
}

.text-github {
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 5vh;
}

.text-github, a:hover, a {
color:#ebe1d3;
}


#webdev-cards .card {
    transition: all 0.5s ease-in-out;
    transform-origin: center;
    background-color: black;
    position: relative;
}

#webdev-cards .card:hover {
    transform: scale(1.05);
    background-color: #ebe1d3 !important;
    color: black;
    z-index: 3;
}

#webdev-cards .card:hover .card-title, 
#webdev-cards .card:hover .card-text {
    color: black;
}


#webdev-cards .card .btn {
    display: none; /* Do not show or reserve space for the button */
    opacity: 0;
    transform: translateY(-20px); /* Start above the card */
    transition: transform 0.5s ease, opacity 0.5s ease;
}


#webdev-cards .card:hover .btn {
    display: inline-block; /* Button appears without affecting layout */
    opacity: 1;
    transform: translateY(0); /* Slide to normal position */
}

#webdev-cards .card:hover .btn {
    background-color: black;
    color: #ebe1d3;
}

#webdev-cards .card img {
    transition: all 0.3s ease-in-out;
}





/*--------------------------About SECTION-----------------------------------------------*/
.headingAbout{
    font-family: Afronaut, Blenny, Futura !important; 
    text-align: right !important;
    right: 5vw;
}






  /*--------------------------Changes in media queries----------------------------------*/

  @media (min-width: 1640px) {
    .headingWeb{
        font-size: 3vw;
    }

    .webdesignoutline{
        font-size: 3vw;
    }

    .headingWebQuirky{
        font-size: 1.5vw;
    }

}
  
  /* large and larger screens */
  @media (min-width: 992px) {
    .animate-right {
        animation: animateRight 1s forwards;
      }

      .container-graphicDesign {
        overflow-x: hidden  !important;
        flex: 0 0 50%;
      }

}

@keyframes animateRight {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }



  /* medium screens */
  @media (max-width: 768px) {

    .textover {
        text-align: center;
        margin-top: 8%;
        letter-spacing: 0.2vw;
      }

      .headingWebQuirky{
        text-align: center !important;
        font-size: 6vw;
    }

    .headingGraphic{
        text-align: center !important;
        padding-left: 0; 
    }

    .youtubechannel{
        text-align: center;
        font-size: 3vh;
        padding-bottom: 3vh;
    }

    .gallery-text{
        text-align: center;
        bottom: 0;
        padding-top: 3vh;
        padding-bottom: 4vh;
        font-size: 5vw;
    }

    .body-bg-img{
        background-image: url(photos/profile.jpeg);
        background-size: cover;
        background-position: -20vw;
    }
} 
  



  /* small screens */
 @media (max-width: 576px) {
    .headingHomePortfolio {
      letter-spacing: 0.07rem !important;
    }
    

    .textover {
        text-align: center;
        margin-top: 5%;
        letter-spacing: 0.2vw;
      }

      .headingWebQuirky{
        text-align: center !important;
        font-size: 6vw;
    }

    .headingGraphic{
        text-align: center !important;
        padding-left: 0; 
    }

    .youtubechannel{
        text-align: center;
        font-size: 3vh;
        padding-bottom: 3vh;
    }

    .gallery-text{
        text-align: center;
        bottom: 0;
        padding-top: 3vh;
        padding-bottom: 4vh;
        font-size: 5vw;
    }

    .body-bg-img{
        background-image: url(photos/profile.jpeg);
        background-size: cover;
        background-position: -35vw;
    }
} 




  /* x-small screens like iphones*/
  @media (max-width: 400px) {
    .headingHomePortfolio {
      letter-spacing: 0rem !important;
    }


    .textover {
        text-align: center;
        margin-top: 3.5%;
        letter-spacing: 0vw;
      }


    .headingWebQuirky{
        text-align: center !important;
        font-size: 6vw;
    }

    .headingGraphic{
        text-align: center !important;
        padding-left: 0; 
    }

    .youtubechannel{
        text-align: center;
        font-size: 3vh;
        padding-bottom: 3vh;
    }

    .gallery-text{
        text-align: center;
        bottom: 0;
        padding-top: 3vh;
        padding-bottom: 4vh;
        font-size: 5vw;
    }

    .body-bg-img{
        background-image: url(photos/profile.jpeg);
        background-size: cover;
        background-position: -35vw;
    }
} 

